@media screen and (max-width: 576px) {



  section#carrosel{
    margin-top: 120px;
  }
  section#nossos-servicos{
    margin-top: 100px;
  }
  section#cont-home {
    height: 600px;
    justify-content: start;

    & div{
        padding-right: 10px;
    }
  }
  section#aces-cres {
    background-position: center center;

    & div {
      width: 80%;
      margin: auto auto;
    }
  }



  footer div#ft-d {
    flex-direction: column;
    /* text-align: start; */
    margin: 0 30px;
  }
}

@media screen and (min-width: 420px) {
  section#carrosel{
    margin-top: 80px
  }
}

