@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Bebas Neue'; */

:root {
  --cor1: #000029;
  --cor2: #004369;
  --cor3: #1b7dce;
}

body {
  font-family: "Inter";
  color: var(--cor1);
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  /* padding: 0 0 100px 0;
    margin: 0 0 100px 0; */
  /* border: 1px solid red; */
}

main {
  margin-top: 78px;
}

ul li {
  list-style: none;
}

@keyframes animacao-caixa {
  from {
    left: -1000%;
  }

  to {
    left: 0;
  }
}

.init-hidden {
  opacity: 0;
  transition: opacity 1s linear;
}

.init-hidden-off {
  opacity: 1;
  /*     
    position: relative;
    animation-name: animacao-caixa;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-direction: normal; */
}

.top-screen {
  position: absolute;
  top: 15%;
}

section#carrosel {
  margin-top: 80px;
  /* border: 1px solid blue; */
}

div.carousel-caption {
  background-color: rgba(199, 199, 199, 0.774);
  /* border-radius: 15px; */
  width: 100%;
  height: 100%;
  top: -0px;
  position: absolute;
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  z-index: 1;
  /* padding: 20px; */
  color: #fff;
  text-align: center;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.carousel-caption h1 {
  color: black;
  font-weight: bold;
  font-size: 300%;
  text-shadow: 5px 5px 5px gray;
  font-family: "Inter";
}

div.carousel-caption p {
  color: black;
  font-size: 1rem;
  font-family: "Outfit";
}

div.carousel-caption button {
  background: #000;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.7s;
  font-weight: bold;
  font-family: "Outfit";
}

div.carousel-caption button:hover {
  background-color: #004369;
  transform: scale(1.07);
}

section#negocios {
  /* position: relative; */
  top: -100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  /* box-sizing: border-box; */
}

section#negocios div#negocios-hd {
  text-align: center;
}

section#negocios div#negocios-hd h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--cor3);
}

section#negocios div#negocios-hd p {
  color: var(--cor1);
  font-size: 15px;
}

div#tipos-negocios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid var(--cor3);
}

div#tipos-negocios a {
  text-decoration: none;
  margin: 15px;
}

div.cx-neg {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cor2);
  /* border-radius: 15px; */
  padding: 15px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  box-shadow: 0px 1px 10px 1px #00000036;
  transition: 0.5s;
  /* position: relative;
    animation-name: animacao-caixa;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-direction: normal; */
}

div.cx-neg p {
  padding: 15px;
}

div.cx-neg span {
  color: var(--cor3);
}

div.cx-neg img {
  width: 90px;
}

div.cx-neg:hover {
  background: white;
  color: var(--cor1);
}

section#nossos-servicos {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  /* text-align: center; */
}

section#nossos-servicos h2 {
  font-weight: bold;
  text-align: center;
}

div#servicos-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.servicos-itens {
  display: flex;
  width: 300px;
  margin: 10px;
  padding-top: 20px;
  border-radius: 5px;
  background: linear-gradient(to top, #edf0fc, #ffffff);
}

div.servicos-itens img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

div.servicos-itens h3 {
  font-size: 20px;
  font-weight: bold;
  /* text-transform: uppercase; */
  /* height: 40px */
}

div.servicos-itens p {
  font-size: 14px;
}

div.servicos-itens a {
  font-size: 12px;
}

section#aces-cres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/imagens/background-contato3.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-clip: border-box;
  background-attachment: fixed;
  box-sizing: border-box;
  transition: 0.5s;
  width: 100%;
  height: 700px;
  margin-top: 150px;

  & div {
    max-width: 400px;
    background-color: black;
    margin: 30px 50px;
    box-shadow: 0px 5px 10px black;
  }

  & h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: var(--cor3);
    text-align: center;
    padding: 30px;
    font-size: 20px;
  }

  & span {
    color: white;
  }
}

section#cont-home {
  width: 100%;
  height: 100vh;
  background-color: var(--cor1);
  color: white;
  font-family: Montserrat;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  & span {
    font-weight: bold;
  }

  & a {
    color: white;
  }
}

section#vis-val {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: end;
  justify-content: center;
  background-image: url(../assets/imagens/background-3.jpg);
  background-position: 60% 30%;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;

  & .cx-vis-val {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: white;
    margin: 50px;
    padding: 20px;
    box-shadow: 0px 5px 10px black;
  }

  & h2 {
    border-bottom: 2px solid;
  }

  & h2::before {
    content: "";
  }

  & span {
    font-weight: bold;
  }
}

section#opc-atendimento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: var(--cor1);
  color: var(--cor3);
  margin: auto;
  padding: 10px;
  text-align: center;

  & h2 {
    font-weight: bold;
    border-bottom: 2px solid;
  }

  & span {
    color: white;
  }

  & div {
    padding: 10px;
  }

  & button {
    margin: 10px;
    padding: 10px 20px;
    background: black;
    border: 1px solid var(--cor3);
    color: white;
  }

  & a {
    color: white;
  }
}

/* Pagina servicos.html */

section#start-servicos {
  width: 100%;
  height: calc(40vh - 80px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--cor1);

  & h1 {
    margin-left: 30px;
    color: white;
  }
}

section#servicos {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  & h2{
    color: var(--cor2);
    font-weight: bold;
    font-family: Montserrat;
    display: inline;
  }

  & h3{
    color: var(--cor1);
    font-weight: 600;
    font-family: Montserrat;
    display: inline;
    font-size: 20px;
  }

  & h3::before{
    content: "\00270E  ";
  }

  & ul li{
    list-style: linear-gradient(to left, var(--cor2), var(--cor3));
  }

  & .order1 {

    width: 100%;
    display: flex;

    & img {
      width: 100%;
      height: 100%;
      order: 0;
      border-radius: 0 50px 50px 0;
      float: left;
    }

    & .serv-it-flex {
        padding: 0 50px;
        float: right;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

            & .serv-it-text{
                & h2{
                    text-align: center;
                }
            }
    }
  }

  & .order2 {

    width: 100%;
    display: flex;

    & img {
      order: 1;
      border-radius: 50px 0 0 50px;
      float: right;
    }

    & .serv-it-flex {
        padding: 0 50px;
        float: left;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        & .serv-it-text{
            & h2{
                text-align: center;
            }
        }
    }
  }

  & .serv-it {

    margin: 200px 0;

    /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 100px 0; */
    & img {
      width: 50%;
    }

    /* & .serv-it-flex{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-self: auto;
            width: 100%;

            & .serv-it-text{
                width: 100vh;
                margin: auto;
            }
        } */
  }
}

@media screen and (max-width:721px) {


    section#servicos{

      & .serv-it{
        display: block;
        border-bottom: 1px solid;
        box-shadow: 4px 10px 20px 0px black;
        & img{
          width: 100%;
          display: block;
          border-radius: 0;
        }
      }

        & .order1{
            float: none;
            margin: 0px 0;

            & .serv-it-flex{
                width: 100%;
                margin: auto;
                padding: 5px;
                /* border: 2px solid var(--cor2); */
                /* border-radius: 0 20px; */
                /* box-shadow: 0px 0px 2px 0px var(--cor1); */

                & .serv-it-text{
                    & h2{
                        text-align: start;
                    }
                }
            }
        }

        & .order2{
            float: none;
            margin: 0px 0;

            & .serv-it-flex{
                width: 100%;
                margin: auto;
                padding: 5px;
                /* border: 1px solid var(--cor2);
                border-radius: 20px 0; */
                /* box-shadow: 0px 0px 2px 0px var(--cor1); */

                & .serv-it-text{
                    & h2{
                        text-align: end;
                    }
                }
            }
          }
          & img {
            display: none;
          }

      }
    }

/* section#servicos{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    & div.serv-it{
        margin: 30px 30px;
        width: 300px;
        border: 1px solid;
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    & div.serv-it div{
        padding: 30px;
        word-wrap: break-word;
    }
} */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  border-top: 1px solid var(--cor1);

  & div#ft-d {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
  }

  & .logo-footer {
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
  }

  & .logo-footer img {
    margin: auto;
    width: 220px;
    height: 140px;
    padding-bottom: 15px;
  }

  & .name-logo-footer {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  & ul {
    padding: 0px;
  }

  & ul li a img {
    width: 50px;
    padding: 2px;
  }

  & p {
    text-align: center;
  }

  & .footer-copy {
    background-color: var(--cor1);
    color: white;
    border-top: 1px solid var(--cor1);
    margin-bottom: 0;
    padding: 15px;
  }

  & span#copy-site {
    font-size: 10px;
    color: var(--cor3);
  }
}
