div.carousel-caption {
    background-color: rgba(199, 199, 199, 0.596);
    border-radius: 5px;
}

div.carousel-caption h1{
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

div.carousel-caption p{
    color: black;
    font-size: 1rem;
}